
@model WebMVC.Models.CatalogEvent
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catalog</h1>


<div>Id = @Model.Id</div>
<div>Title = @Model.Title</div>
<div>Description = @Model.Description</div>
<div>Start = @Model.Start</div>
<div>End = @Model.End</div>
<div>PictureUrl = @Model.PictureUrl</div>
<div>VenueName = @Model.VenueName</div>
<div>VenueAddressLine1 = @Model.VenueAddressLine1</div>
<div>VenueAddressLine2 = @Model.VenueAddressLine2</div>
<div>VenueAddressLine3 = @Model.VenueAddressLine3</div>
<div>VenueCity = @Model.VenueCity</div>
<div>VenueStateProvince = @Model.VenueStateProvince</div>
<div>VenuePostalCode = @Model.VenuePostalCode</div>
<div>VenueMapUrl = @Model.VenueMapUrl</div>
<div>HostOrganizer = @Model.HostOrganizer</div>
<div>CatalogFormatId = @Model.CatalogFormatId</div>
<div>CatalogTopicId = @Model.CatalogTopicId</div>